<section class="bg-dark" id="about1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">돼지 2조<br><br>아프니까,,,,,, 돼지열병</h2>
                <hr class="light">
                <p class="text-faded">아프리카 돼지열병</p>
                <p class="text-faded">'돼지 2조’는 본 과제를 수행하면서 첫째로 양돈산업 현황을 알아보았다. 둘째로 양돈농가의 생산현황을 살펴보았고, 마지막으로 아프리카 돼지열병과 한국 양돈산업의 연관성을 도출하고자 하였다. </p>
                <p class="text-faded">아프리카 돼지열병이 한국 양돈산업에 미치는 영향을 다양한 그래프를 통해 알아보고, 유의미한 결과를 도출하는 시간을 가졌다. 현재 대한민국은 ASF로 인해 큰 타격을 받은 상태이지만, 현재는 조금 잠잠한 상황이다. 하지만 언제 다시 발병할지 모르므로 이에 대한 지속적인 방역을 통해 원천적으로 차단하는 것만이 다시 소비자의 심리를 돌아오게 하며, 대한민국 양돈산업이 발전할 수 있는 주춧돌이 될 것이라고 생각한다.</p>
                <a href="https://github.com/YoungjunNa/livestock2019/output/돼지2조/돼지2조.html" class="btn btn-primary btn-xl page-scroll">결과물 전체보기</a>
                <a href="https://github.com/YoungjunNa/livestock2019/tree/master/output/%EB%8F%BC%EC%A7%802%EC%A1%B0" class="btn btn-primary btn-xl page-scroll">코드/데이터</a>                
                <br><br>
                <p><img src="https://github.com/YoungjunNa/livestock2019/blob/master/output/%EB%8F%BC%EC%A7%802%EC%A1%B0.png?raw=true" width="100%"></p>                

                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
