<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">돼지 1조<br><br>국내 돼지고기 소비동향</h2>
                <hr class="light">
                <p class="text-faded">돼지 1조는 강의 시간에 배웠던 ‘R 프로그래밍’을 이용하여 축산물 시각화 데이터를 만들어보고자 했다. 다른 국내 통계정보사이트에서는 배합사료 생산실적이나, 가축의 지역별 동향조사와 같은 농가 관련된 양돈 생산측면의 데이터는 비교적 많았는데 비해, 실제로 소비자들과 연관이 깊은 돼지고기 소비에 대한 시각적 데이터는 비교적 적다는 것을 알게 되었다.
                <p class="text-faded">과거 몇 년 전부터 현재의 돼지고기 소비 동향에 대해 조사해보았고 4개의 통계 자료를 통해 시각적 데이터화했다.</p>                    
                <p class="text-faded">먼저 ‘연도별 국내 돼지고기 소비량’을 통해 국내의 돼지고기의 연간 소비량을 살펴보았고, ‘국내 가정 돼지고기 부위별 소비량’을 통해 가구당 1년 평균 소비량을 세분화했다. 특정한 선호부위의 강세가 국가별 수입량에 어떤 영향을 주었는 지에 대해 ‘국가별 부위별 수입량’으로 표현해보았다.</p>
                <p class="text-faded">국내에서는 삼겹살과 목심에 소비가 집중되는 경향이 있는데, 이에 집중하여 지역별 소비되는 특정 부위의 가격 차이를 ‘지역별 목심, 삼겹살 가격’으로 분류하면서 돼지고기 국내 자급률과 특정 부위 수입량과 연관을 지어 인사이트를 정리해보았다.</p>
                <a href="../output/돼지1조/돼지1조.html" class="btn btn-primary btn-xl page-scroll">결과물</a>
                <a href="https://github.com/YoungjunNa/livestock2019/tree/master/output/%EB%8F%BC%EC%A7%801%EC%A1%B0" class="btn btn-primary btn-xl page-scroll">코드</a>                
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
