<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><font color="#FFD700">천하제일 축산 데이터 대회</h1>
            <hr>
            <p>Insight from Livestock Industry Data<br>
            <br>2019 건국대학교 동물자원과학과<br>
            <br>59기 류영우, 박소연, 정의범, 최효빈, 허윤지, 권희현, 설혁수<br>
            <br>58기 곽정우, 선시형<br>
            <br>57기 정성헌, 전위주, 장한비, 장이주, 변준석, 김한솔<br>
            <br>56기 정다정, 김주호, 김종일, 김근영<br>
        </p>
            <a href="#team" class="btn btn-primary btn-xl page-scroll">Let's Go!</a>
        </div>
    </div>
</header>
