<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><font color="#2c7873">참가팀</font></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-angellist wow bounceIn text-primary"></i>
                    <h3><font color="#2c7873">돼지 1조</font></h3>
                    <p class="text-muted">김근영, 장이주, 정다정, 김주호, 김종일</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><font color="#2c7873">돼지 2조</font></h3>
                    <p class="text-muted">김한솔, 허윤지, 설혁수, 권희현, 선시형</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><font color="#2c7873">소 1조</font></h3>
                    <p class="text-muted">장한비, 정성헌, 전위주, 곽정우, 박소연</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><font color="#2c7873">소 2조</font></h3>
                    <p class="text-muted">류영우, 최효빈, 정의범, 변준석, 한용구</p>
                </div>
            </div>
        </div>
    </div>
</section>
